@model BulmaBullaFastFood.Models.Account

@{
    ViewBag.Title = "UserDashboard";
}

<button style="float: right;">@Html.ActionLink("Sign Out", "Index", "Home")</button>

<h2>@ViewBag.Message</h2>

@Html.ActionLink("View profile", "ViewProfile", "Home")
<br />
<br />
@Html.ActionLink("Make an Order", "Menu", "Home")
<br />
<br />
@Html.ActionLink("View your Previous Orders", "ViewPreviousOrders", "Home")

