<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<script>
    function AddOrderToCart() {
        var senzuQuantity = document.getElementById("senzuQuantity").value;
        var gotchaQuantity = document.getElementById("gotchaQuantity").value;
        var krabbyQuantity = document.getElementById("krabbyQuantity").value;
        var ramenQuantity = document.getElementById("ramenQuantity").value;
        var onigiriQuantity = document.getElementById("onigiriQuantity").value;
        var happyQuantity = document.getElementById("happyQuantity").value;
        var karaageQuantity = document.getElementById("karaageQuantity").value;
        var rainbowQuantity = document.getElementById("rainbowQuantity").value;
        var beefQuantity = document.getElementById("beefQuantity").value;
        var eggQuantity = document.getElementById("eggQuantity").value;
        var ramuneQuantity = document.getElementById("ramuneQuantity").value;
        var pocariQuantity = document.getElementById("pocariQuantity").value;

        let xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "Checkout.aspx?sz=sz" + senzuQuantity + "&go=go" + gotchaQuantity + "&kr=kr" + krabbyQuantity +
            "&rn=rn" + ramenQuantity + "&on=on" + onigiriQuantity + "&ha=ha" + happyQuantity + "&ka=ka" + karaageQuantity +
            "&ri=ri" + rainbowQuantity + "&be=be" + beefQuantity + "&eg=eg" + eggQuantity + "&re=re" + ramuneQuantity +
            "&po=po" + pocariQuantity, false);
        xmlhttp.send(null)
    }

    function Check() {
        
        var obj = document.getElementById('txtLabel');
        obj.innerHTML = "Your sign in information is incorrect";
        obj.style.color = "red";
        
    }
</script>
</head>
<body>
    <div style="background-color: yellow;" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bulma and Bulla Fast Food", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Bulma and Bulla Fast Food Corporations &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
